<html>
<head>
	<title>Cincinatti Reds</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
	<script src="https://cdn.firebase.com/v0/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/0.6.0/angularfire.min.js"></script>

<script>
function TicCtrl($scope){
	$scope.positions = ['Pitchers', 'Catchers', 'Infielders', 'Outfielders'];
	$scope.players =	// Pitchers
		[['Homer Bailey',
		'Trevor Bell',
		'Jonathan Broxton',
		'Aroldis Chapman',
		'Nick Christiani',
		'Tony Cingrani',
		'Carlos Contreras',
		'Daniel Corcino',
		'Johnny Cueto',
		'Ismael Guillon',
		'David Holmberg',
		'J.J. Hoover',
		'Mat Latos',
		'Mike Leake',
		'Sam LeCure',
		'Brett Marshall',
		'Sean Marshall',
		'Logan Ondrusek',
		'Manny Parra',
		'Curtis Partch',
		'Chad Rogers',
		'Alfredo Simon']
		,	// Catchers
		['Tucker Barnhart',
		'Devin Mesoraco',
		'Brayan Pena']
		,	// Infielders
		['Zack Cozart',
		'Todd Frazier',
		'Jack Hannahan',
		'Brandon Phillips',
		'Ramon Santiago',
		'Skip Schumaker',
		'Neftali Soto',
		'Joey Votto'],
		['Roger Bernadina',
		'Jay Bruce',
		'Juan Duran',
		'Billy Hamilton',
		'Chris Heisey',
		'Ryan LaMarre',
		'Ryan Ludwick',
		'Donald Lutz',
		'Yorman Rodriguez']];
}
	</script>

</head>
<body x-ng-app="" x-ng-controller="TicCtrl">

<select id="position" x-ng-model="position" x-ng-options="idx as position for (idx, position) in positions"></select>
<select id="player" x-ng-model="player" x-ng-options="x for x in players[position]"></select>


</body>
</html>