body{background-color: black;}
	.gameDiv {
		float:left; 
		border:3px solid black; 
		width:100px; 
		height:100px; 
		background-color: #D80000; 
		color:white; 
		font-size:15pt;
	}
	.row{clear:both;
	}
	.newline{
		clear:both;
	}