body{background-color: black;}
	.gameDiv {
		float:left; 
		border:2px solid black; 
		width:200px; 
		height:200px; 
		background-color: #D80000; 
		color:white; 
		font-size:102pt;
		font-family: comic;
		text-align: center;
		vertical-align: middle;

	
	}
	.row{clear:both;
	}
	.newline{
		clear:both;
	}
	#messageDiv{
		color: white;
		position: relative;
		clear:both;
		font-family: Verdana;
		width:604px; 
		height:200px;
		text-align: center;

		font-size:50pt;
	}
	.boardDiv{
		width: 704px;
		height: 704px;
	
     	position: absolute;
    	top:100px;
    	bottom: 0;
    	left: 0;
    	right: 0;
		margin: auto;
	}
	#titleDiv{
		color: white;
		width:704px; 
		height:200px;
		position: relative;
    	top:40px;
    	bottom: 0;
    	left: auto;
    	right: auto;
		margin: auto;
		text-align: auto;
		font-size:30pt;
		font-family: Verdana;
	}




